.DS_Store
.idea
*.log
tmp/
build
bin
.cache
/cmake-build-debug/
/android-project/app/build
/android-project/app/.cxx
/android-project/local.properties
/android-project/.idea
/android-project/.gradle/
/cmake-build-release/
/android-project/app/release/
/android-project/app/src/main/assets/
