[submodule "engine/efsw"]
	path = engine/efsw
	url = https://github.com/SpartanJ/efsw
[submodule "engine/glm"]
	path = engine/glm
	url = https://github.com/g-truc/glm
[submodule "engine/box2d"]
	path = engine/box2d
	url = https://github.com/erincatto/box2d
